/*
!/.github
!/assets
!/components
!/layouts
!/middleware
!/pages
!/plugins
!/static
!/store
!/swagger
!/.editorconfig
!/.eslintignore
!/.eslintrc.js
!/.git-ftp-include
!/.gitignore
!/jsconfig.json
!/nuxt.config.js
!/package.json
!/README.md
!/stylelint.config.js
