@mixin clearfix {
    &::after {
        content: '';
        clear: both;
        display: table !important;
        height: 0 !important;
        visibility: hidden;
    }
}

@mixin mq($from, $to: false) {
    @if $to {
        @if $to == 'infinity' {
            @media (min-width: #{$from}px) {
                @content;
            }
        }

        @else {
            @media (min-width: #{$from}px) and (max-width: #{$to}px) {
                @content;
            }
        }
    }

    @else {
        @media (max-width: #{$from}px) {
            @content;
        }
    }
}

@mixin mqh($from, $to: false) {
    @if $to {
        @media (min-height: #{$from}px) and (max-height: #{$to}px) {
            @content;
        }
    }

    @else {
        @media (max-height: #{$from}px) {
            @content;
        }
    }
}

@function fontSize($fs, $vw: 1920) {
    @return #{$fs / $vw * 100}vw;
}

@mixin fontface($family, $localname, $filename, $weight, $style) {
    @font-face {
        font-display: swap;
        font-family: $family;
        src: local('#{$localname}'), url('../../static/fonts/#{$filename}.woff2') format('woff2'), url('../../static/fonts/#{$filename}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin text($fz, $lh, $fw, $align: left) {
    font-size: $fz + px;
    line-height: $lh + px;
    font-weight: $fw;
    text-align: $align;
}
