$Montserrat:            'Montserrat', sans-serif;

$color_black1:          #121212;
$color_black2:          #202020;

$color_yellow1:         #f9d349;
$color_yellow2:         #f6c308;
$color_yellow3:         #e6b608;

$color_gray1:           #6f6f6f;
$color_gray2:           #999;
$color_gray3:           #cecece;
$color_gray4:           #696969;
$color_gray5:           #666;

$color_lightgray1:      #fafafa;
$color_lightgray2:      #f7f7f7;
$color_lightgray3:      #ececec;
$color_lightgray4:      #e0e0e0;
$color_lightgray5:      #fafafa;
$color_gray6:           #e0e0e0;
$color_lightgray6:      #dbdbdb;
$color_lightgray7:      #e5e5e5;
$color_lightgray8:      #f2f0f0;
$color_lightgray9:      #cecece;
$color_lightgray10:     #f3f3f3;

$color_red:             #f44336;
$color_red-10:          #e91b0c;
$color_green:           #11c158;
$color_green-10:        #0d9142;

$color_orange:          #f5af46;
$color_orange-lend1:    #f2a93c;
$color_intro-lend5:     #ed4c5c;
$color_blue-lend5:      #87b7ff;
$color_pink-lend5:      #ffedef;

$color_darkred1:        #ed4c5c;
$color_lightred1:       #f37458;
$color_lightred2:       #ff957d;
$color_lightred3:       rgba(228, 208, 202, 0.19);
$color_lightred4:       #dc6c48;
$color_lightred5:       #ffd1d6;
$color_lightred6:       rgba(255, 237, 239, 0.72);
$color_lightred7:       rgba(255, 149, 125, 0.35);
$color_lightred8:       #fdf7f5;
$color_lightorange2:    #faeae5;
$color_lightblue2:      #428dff;
$color_lightblue3:      #438eff;
$color_lightblue4:      #eaf2ff;
$color_lightblue5:      rgba(235, 241, 250, 0.44);
$color_violet:          #2c0858;
$color_lightviolet1:    #6939a5;

// https://easings.net/ru

$easeInSine:        cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine:       cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine:     cubic-bezier(0.445, 0.05, 0.55, 0.95);

$easeInQuad:        cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad:       cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad:     cubic-bezier(0.455, 0.03, 0.515, 0.955);

$easeInCubic:       cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic:      cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic:    cubic-bezier(0.645, 0.045, 0.355, 1);

$easeInQuart:       cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart:      cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart:    cubic-bezier(0.77, 0, 0.175, 1);

$easeInQuint:       cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint:      cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint:    cubic-bezier(0.86, 0, 0.07, 1);

$easeInExpo:        cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo:       cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo:     cubic-bezier(1, 0, 0, 1);

$easeInCirc:        cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc:       cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc:     cubic-bezier(0.785, 0.135, 0.15, 0.86);

$easeInBack:        cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack:       cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack:     cubic-bezier(0.68, -0.55, 0.265, 1.55);
